<div class='wrapper wrapper-add'>
  <div id="hexo">
    <div class="inner">
      <div class="left">
        <img class="hexo-logo" src="<%- url_for("/images/logo.png") %>">
      </div><div class="right">
        <h2 class="feui">Feui</h2>
        <h1>
          超好用的<br>Vue 组件库
        </h1>
        <p>
          <a class="button" href="<%- url_for("/feui/guide/") %>">GET STARTED</a>
          <a class="button white" href="https://github.com/zoeblow/feui" target="_blank">GITHUB</a>
        </p>
      </div>
    </div>
  </div>

  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>简单</h2>
        <p>基于Vue 2.0的 Mobile 组件库，撸起代码超简单</p>
      </div>

      <div class="point">
        <h2>方便</h2>
        <p>支持自定义主题，移植方便，使用起来超方便</p>
      </div>

      <div class="point">
        <h2>超好用</h2>
        <p>
          支持30+的自定义组件<br>
          炒鸡好用 <br>
          sei用sei知道 
        </p>
      </div>
    </div>
  </div>
  <div style='height:58px;'></div>
</div>
<div id="footer" class='index-footer'>
  <a href="https://feui.gitee.io/" target="_blank">
    <img src="<%- url_for("/images/logo.png") %>" style="width: 50px;">
  </a>
  <p class='links'>
  <a href="https://axnfex.github.io/2017/02/28/jobs/" target="_blank">加入我们</a><span class='fenge'>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="https://axnfex.github.io/" target="_blank">团队博客</a><span class='fenge'>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="https://www.jss.com.cn/" target="_blank">诺诺服务</a><span class='fenge'>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="https://www.axnsc.com/" target="_blank">诺诺商城</a>
	</p>
  <p>Copyright © 2016-2017 Aisino FEX</p>
</div>